@import url('https://fonts.googleapis.com/css2?family=Inter:wght@100;200;300;400;500;600;700;800;900&display=swap');

* {
    font-family: Inter;
    box-sizing: border-box;
}

body {
    background-color: #2A2E2F;
    margin: 0;
    color: white;
}

body::-webkit-scrollbar {
    width: 14px;
}

body::-webkit-scrollbar-track {
    background: #2B344C;
    border-radius: 8px;
}

body::-webkit-scrollbar-thumb {
    background-color: #5E666A;
    border-radius: 8px;
    border: 3px solid #2B344C;
}

.container-header {
    /* background-color: #797979; */
    display: flex;
    height: 80px;
}

.header1 {
    /* background-color: blue; */
    width: 350px;
    padding: 32px;
    display: flex;
}

.header2 {
    display: flex;
    /* background-color: blueviolet; */
    justify-content: center;
    padding: 32px;
    margin-left: auto;
    margin-right: auto;
    flex-direction: column;
    align-items: center;
}

.nomeLogo {
    display: flex;
    align-items: center;
}

.chatImg {
    width: 30px;
    margin-left: 16px;
}

.hr-header {
    margin: auto;
    border-color: #797979;
    height: 3px;
    background-color: #797979;
}

.hr-chatlist {
    margin-top: 52px;
}

.container-chatlist {
    /* background-color: #797979; */
    width: 350px;
    height: 100vh;
    display: flex;
    flex-direction: column;
}

.chat-card {
    align-items: center;
    height: 200px;
    /* background-color: moccasin; */
    padding: 16px;
    padding-top: 24px;
}

.userImg {
    height: 55px;
    width: 55px;
    border-radius: 50%;
    margin-right: 16px;
}

.header-card {
    display: flex;
    align-items: center;
    /* background-color: aqua; */
}

.text-card {
    margin-top: 16px;
    /* background-color: gray; */
    display: flex;
}

.vertical-line {
    margin-right: 8px;
    border-left: 5px solid;
    color: #797979;
    /* height: 95px; */
}

.vertical-line2 {
    border-left: 2px solid;
    color: #797979;
    margin-left: 350px;
    height: 100vh;
    top: 0px;
    position: fixed;
}


/* Chat */

.chat-header {
    background-color: #2B344C;
    width: 70%;
    position: absolute;
    margin-top: 200px;
    display: flex;
    justify-content: space-between;
    height: 80px;
    border-radius: 20px;
    padding: 32px;
    border: #797979 solid 1px;
}

.partner-infos {
    display: flex;
    align-items: center;
}

.status-color {
    background-color: #10A760; /*#F30000  <- Se Offline*/
    height: 12px;
    width: 12px;
    border-radius: 50%;
    margin-right: 8px;
}

.chat-container {
    height: 60px;
    width: 70%;
    background-color: #3C4358;
    position: fixed;
    border-radius: 20px;
    display: flex;
    justify-content: center;
    align-items: center;
    padding: 32px;
    margin-bottom: 16px;
    bottom: 0;
}

input {
    height: 40px;
    width: 100%;
    border-radius: 10px;
    border: #797979 solid 2px;
    background-color: #3C4358;
    padding: 16px;
    font-weight: 500;
    font-size: 14px;
    outline: none;
    color: white;
}

button {
    height: 40px;
    width: 40px;
    margin-left: 32px;
    background-color: #8179AD;
    border: none;
    border-radius: 10px;
    display: flex;
    justify-content: center;
    align-items: center;
}

button:hover {
    cursor: pointer;
}

.body-messages {
    /* height: 100vh; */
    width: 70%;
    /* background-color: #10A760; */
    position: absolute;
    top: 182px;
    display: flex;
    flex-direction: column;
    padding-bottom: 88px;
}

.recived-messages {
    /* background-color: blue; */
    display: flex;
    flex-direction: column;
    width: 100%;
    justify-content: center;
    align-items: flex-start;
    padding-left: 24px;
    padding-top: 8px;
    padding-bottom: 8px;
}

.sended-messages {
    /* background-color: blueviolet; */
    display: flex;
    flex-direction: column;
    width: 100%;
    padding-right: 24px;
    padding-top: 8px;
    padding-bottom: 8px;
    justify-content: center;
    align-items: flex-end;
}

.message-recived {
    background-color: #5E666A;
    border-radius: 10px;
    max-width: 45%;
    padding: 16px;
    padding-left: 24px;
    position: relative;
    margin-top: 8px;
}

.message-sended {
    background-color: #4C5365;
    border-radius: 10px;
    max-width: 45%;
    padding: 16px;
    padding-right: 24px;
    position: relative;
    margin-top: 8px;
}

.salience {
    height: 20px;
    width: 20px;
    background-color: #5E666A;
    transform: rotate(45deg);
    position: absolute;
    left: -4px;
}

.salience2 {
    height: 20px;
    width: 20px;
    background-color: #4C5365;
    transform: rotate(45deg);
    position: absolute;
    right: -4px;
}

.message-hours {
    /* background-color: #10A760; */
    right: -50px;
    bottom: 2px;
    position: absolute;
    font-weight: 400;
    font-size: 16px;
    padding-left: 8px;
    color: #5E666A;
}

.message-hours2 {
    /* background-color: #10A760; */
    position: absolute;
    left: -50px;
    padding-right: 8px;
    bottom: 2px;
    font-size: 16px;
    color: #5E666A;
    font-weight: 400;
}